@font-face {
    font-family: "DJB Number 2 Pencil Bold";
    src: url("./Fonts/FuturaLT-Heavy.ttf");
}
body {
    text-decoration: none;
    font-family: 'DJB Number 2 Pencil Bold', Arial, sans-serif;
    margin: 0%;
    background-color: #222;
}
a {
    color:inherit;
    text-decoration: none;
}
button {
    background:inherit;
    border:inherit;
    font-family: inherit;
    cursor: pointer;
}
.maingrid {
    height: 100vh;
    width: 100vw;
    display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-rows: 15% 7.5% 58% auto;
        grid-template-areas:
        "... header header header ..."
        "navbar navbar navbar navbar navbar"
        "... sidebar slide slide ..."
        "... ...... ...... ...... ...";
}
.header {
    grid-area: header;
    display:grid;
        grid-template-columns: 1.3fr .5fr 1fr 1fr 1fr;
        grid-template-areas:
        "... logo text text ...";
}
.logo{
    margin: auto 2vw;
    grid-area: logo;
    width: 75%;
}
.logotext {
    margin: auto 2vw;
    color: #FFF;
    font-size: 1.5vw;
    grid-area: text;
}
.navbar {
    text-align: center;
    background-color: #ff9a00;
    grid-area: navbar;
    display:grid;
        grid-template-columns: auto 25% 25% 25% auto;
}
.navbar a {
    width: 100%;
    height: 100%;
    margin: auto;
}
.navbtn {
    padding: 3%;
    width: 100%;
    font-size: 1.5vw;
    color: #fff;
    transition: color .5s ease;
}
.navbtn:hover{
    color: #000;
}
.navbtn-active{
    z-index: 1;
    color: #000;
    font-size: 1.5vw;
    background-color: #E58A00;
    outline: 0.15vw solid #E58A00;

}
/* Sidebar Contents */
.slide {
    padding: 1%;
    grid-area: slide;
    display: grid;
        grid-gap: 0.1vw 3vh;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
}
.slide-active {
    padding: 1%;
    grid-area: slide;
    display: grid;
        grid-gap: 0.25vh 1.50vw;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
}
.sidebar {
    grid-area: sidebar;
    text-align: center;
}
.rules {
    font-size: 1vw;
    color: #ff9a00;
    font-size: 1.12vw;
}
/* Game Contents*/
.RIP {
    padding-top: 5%;
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 2 / 4 ;
}
.doverkids {
    padding: 2% 0%;
    width: 100%;
  }
.doverkids img {
    width: 49.75vw;
  }
.game {
    padding: 7.5% 1% 0% 0%;
    position: relative;
    color: #FFF;
    font-size: 1vw;
    text-align: center;
}
.game:hover img{
    opacity: .1;
}
.game:hover > div{
    opacity: 1;
}
.game img {
    z-index: -1;
    width: 100%;
    height: auto;
    transition: opacity 1s ease;
    will-change: opacity;
}
.game div{
    position: absolute;
    width: 98.5%;
    padding: 20% 0%;
    opacity: 0;
    transition: opacity 1.5s ease;
}
