    a:hover{
        text-decoration: none;
    }

    body {
        background-color: #fff;
    }
    body header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    h4 {
        color: #000;
    }
/*Classes*/
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
        padding: 0%;
    }
    .btn-active {
        background: #33a2dd;
        border: 2px solid #33a2dd;
        font-size: 25px;
        padding: 4%;
        width: 100%;
        color: #fff;
    }
   .btn-link {
        font-size: 25px;
        padding: 4%;
        width: 100%;
        color: #D7D7D7;
    }
    .btn-link:hover {
        text-decoration: none;
    }
    .btn-link:focus {
        text-decoration: none;        
        background: #33a2dd;
        border: 2px solid #33a2dd;
        color: #fff;
    }
    .container {
        position: relative;
        padding: 0px;
    }
    .placeholder {
        padding: 1% 1% 1% 1%;
        height:20%;
    }
    .rules {
        text-align: justify;
        text-justify: inter-word;
    }
    .rules li{
        list-style: none;
        font-size: 15px
    }
    .schedule {
        width: 100%;
        height: auto;
    }
    .slide {
        z-index: 1;
	    display:none;
    }
    .slide-active {
	    display: block;
    }
    .slide-img {
        width: 100%;
        height: auto;
        border:5px solid #3192dd;
    }
    .slide-text {
        text-align: center;
    }
/*ID's*/
    #color {
	   width: 100%;
	   background-color: #3192dd;
    }
    #banner {
	    width: 100%;
        margin: 2% 0% 2% 0%;
    }
    #icon {
	    text-align: none;
        width:50%;
        position: relative;
        margin-bottom: -37.5%;
        left: -21%;
    }
    #navbar {
        text-align:center;
        background:none;
        border:none;     
    }