@font-face {
font-family: "DJB Number 2 Pencil Bold";
src: url("./fonts/DJB Number 2 Pencil Bold.ttf");
}
@font-face {
font-family: "Hallowen Party St"; src: url("./fonts/Hallowen Party St.ttf")
}

body {
text-decoration: none;
font-family: 'Hallowen Party St', Arial, sans-serif;
font-weight:normal;
font-style:normal;
margin: 0%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
    background:inherit;
    border:inherit;
    font-size: inherit;
    color:inherit;
    font-family: inherit;
    cursor: pointer;
}

.maingrid {
    height: 100vh;
    width: 100vw;
    background-color: #222;
    color: #333;
    display: grid;
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-rows: 15% 7.5% 58% auto;
        grid-template-areas:
        "...... header header header ......"
        "navbar navbar navbar navbar navbar"
        "..... sidebar slide slide ...."
        "...... ...... ...... ...... ......";
}

.header {
    grid-area: header;
    display:grid;
        grid-template-columns: 1.3fr .5fr 1fr 1fr 1fr;
        grid-template-areas:
        "... logo text text ...";
}

.logo{
    grid-area: logo;
    width: 100%;
}
.logotext {
    padding: 6% 0px 4% 10%;
    color: #ff9a00;
    font-size: 2.3vw;
    grid-area: text;
}

.navbar {
    background-color: #ff9a00;
    grid-area: navbar;
    display:grid;
        grid-template-columns: auto 25% 25% 25% auto;
}

.navbtn {
    width: 100%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 2.2vw;
}

.navbtn:hover{
    padding-bottom: 1%;
    text-align: center;
    font-size: 2.2vw;
    color: #fcc22f;
}

.navbtn-active{
    z-index: 20;
    padding-bottom: 1%;
    text-align: center;
    font-size: 2.2vw;
    background-color: #c87d1a;
    outline: 0.15vw solid #c87d1a;
    color: #fcc22f;
} 

.navbtn-3{
    padding-top: 2%;
}

/* Sidebar Contents */
.slide {
    padding: 1%;
    grid-area: slide;     
    display: grid;
        grid-gap: 5vw;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;

}
.slide-active {
    padding: 1%;
    grid-area: slide;     
    display: grid;
        grid-gap: 1vw 3vh;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
}

.rules {  
    color: #ff9a00; 
    padding: 0% 3%;
    text-align: justify;
    font-size: 1.25vw;
}

.rules h1 {
    font-weight:normal;
    text-align: center;
    font-size: 2.4vw;
    margin: 2% 2% -2% 2%
}
.sidebar {
    z-index: 10;
    grid-area: sidebar;   
    background-color: #222;
    border: .3vh #ff9a00;
    padding: 2%;
}

.game img {
    z-index: 10;
    border: .6vh solid #ff9a00;
    width: 99%;
    height: auto;
}

.game:hover{
    opacity: .75;
    border-color: #fcc22f;
}